{% extends 'base/base.html' %}

{% block title %}
Добавить участника события
{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'calendarapp:calendar' %}"> Calendar </a>
</div>

<form method="post">

    <table class="form form-table" action="{% url 'calendarapp:add_eventmember' event.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-info right"> Submit</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}

